Spring4MVCApacheTiles3Example/src/main/resources/wsdl/InfoService.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://service.opencodez.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="InfoServiceImplService" targetNamespace="http://service.opencodez.com/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://service.opencodez.com/" elementFormDefault="unqualified" targetNamespace="http://service.opencodez.com/" version="1.0">

  <xs:element name="Greeting" type="tns:greeting"/>

  <xs:element name="sayHowAreYou" type="tns:sayHowAreYou"/>

  <xs:element name="sayHowAreYouResponse" type="tns:sayHowAreYouResponse"/>

  <xs:complexType name="sayHowAreYou">
    <xs:sequence>
      <xs:element minOccurs="0" name="GreetingsRequest" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="sayHowAreYouResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Greeting" type="tns:greeting"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="greeting">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
      <xs:element minOccurs="0" name="date" type="xs:dateTime"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="sayHowAreYou">
    <wsdl:part element="tns:sayHowAreYou" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sayHowAreYouResponse">
    <wsdl:part element="tns:sayHowAreYouResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="InfoService">
    <wsdl:operation name="sayHowAreYou">
      <wsdl:input message="tns:sayHowAreYou" name="sayHowAreYou">
    </wsdl:input>
      <wsdl:output message="tns:sayHowAreYouResponse" name="sayHowAreYouResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="InfoServiceImplServiceSoapBinding" type="tns:InfoService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="sayHowAreYou">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="sayHowAreYou">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="sayHowAreYouResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="InfoServiceImplService">
    <wsdl:port binding="tns:InfoServiceImplServiceSoapBinding" name="InfoServiceImplPort">
      <soap:address location="http://localhost:9080/services/InfoService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>